@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@source './src/**/*.{html,js,svelte,ts,md}';
@source '../node_modules/flowbite-svelte/**/*.{html,js,svelte,ts}';
@source '../node_modules/flowbite-svelte-icons/**/*.{html,js,svelte,ts}';
@source '../node_modules/flowbite-svelte-blocks/**/*.{html,js,svelte,ts}';

@plugin 'flowbite/plugin';

@theme {
    --font-sans: 'Inter', sans-serif;

    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;
    --font-size-5xl: 3rem;
    --font-size-6xl: 3.75rem;

    --z-index-100: 100;

    --color-primary-50: #fff5f2;
    --color-primary-100: #fff1ee;
    --color-primary-200: #ffe4de;
    --color-primary-300: #ffd5cc;
    --color-primary-400: #ffbcad;
    --color-primary-500: #fe795d;
    --color-primary-600: #ef562f;
    --color-primary-700: #eb4f27;
    --color-primary-800: #cc4522;
    --color-primary-900: #a5371b;

    --color-secondary-50: #f0f9ff;
    --color-secondary-100: #e0f2fe;
    --color-secondary-200: #bae6fd;
    --color-secondary-300: #7dd3fc;
    --color-secondary-400: #38bdf8;
    --color-secondary-500: #0ea5e9;
    --color-secondary-600: #0284c7;
    --color-secondary-700: #0369a1;
    --color-secondary-800: #075985;
    --color-secondary-900: #0c4a6e;

}

@layer base {

    button,
    [role="button"] {
        cursor: pointer;
    }

    h1 {
        @apply text-3xl font-bold leading-tight mb-6 dark:text-gray-100;
    }

    h2 {
        @apply border-l-4 border-primary-500 pl-4 text-2xl font-semibold leading-snug mb-4 mt-8 dark:text-gray-100;
    }

    h3 {
        @apply border-l-4 border-primary-500 pl-4 text-xl font-semibold leading-snug mb-3 mt-6 dark:text-gray-100;
    }

    h4 {
        @apply border-l-4 border-primary-500 pl-4 text-lg font-medium leading-snug mb-2 mt-4 dark:text-gray-100;
    }

    h5 {
        @apply text-lg font-medium leading-snug mb-2 mt-3 dark:text-gray-100;
    }

    h6 {
        @apply text-base font-medium leading-snug mb-1 mt-2 dark:text-gray-100;
    }

    p {
        @apply mb-4 dark:text-gray-200 text-gray-600;
    }

    ul {
        @apply dark:text-gray-200 text-gray-600;
    }

    ol {
        @apply dark:text-gray-200 text-gray-600;
    }

    img {
        @apply rounded-md my-4;
    }

    blockquote {
        @apply border-l-4 border-primary-500 pl-4 italic text-gray-600 dark:text-gray-300 mb-4;
    }

    /* Stiliai straipsnių sąrašams */
    ul.article-ul {
        @apply pl-6 list-disc mb-4 space-y-1 dark:text-gray-200 text-gray-600;
    }

    ol.article-ol {
        @apply pl-6 list-decimal mb-4 space-y-1 dark:text-gray-200 text-gray-600;
    }

    /* Stilizuoti sąrašų elementus */
    ul.article-ul li,
    ol.article-ol li {
        @apply mb-1;
    }
}